# GEMINI_API_KEY
GEMINI_API_KEY=

# Google Maps
GOOGLE_MAPS_PLATFORM_KEY=

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
CONTACT_RECEIVER_EMAIL=madeccco5@gmail.com

# Initial Admin Access Keys
CEO_ACCESS_KEY=your_ceo_key_here
PM_ACCESS_KEY=your_pm_key_here
CE_ACCESS_KEY=your_ce_key_here
FO_ACCESS_KEY=your_fo_key_here
ACC_ACCESS_KEY=your_acc_key_here
SEC_ACCESS_KEY=your_sec_key_here
